# Supabase 설정
EXPO_PUBLIC_SUPABASE_URL=https://dwyzlucoxazhtucrugii.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3eXpsdWNveGF6aHR1Y3J1Z2lpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NjM1NTYsImV4cCI6MjA3OTAzOTU1Nn0.7850-reSI8a4-TrpBsNEi8hzhUkQqlGbTD8gdsjwIf4

# Google OAuth 설정
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=838080132433-qktmeg94mmgi7inofjhrtt8v0db71ppc.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=838080132433-qktmeg94mmgi7inofjhrtt8v0db71ppc.apps.googleusercontent.com

# Figma 설정 (스크립트 실행용)
FIGMA_ACCESS_TOKEN=your-figma-token

